<!DOCTYPE html>

{% load static %}

<html>

<head>
  <title>Contact</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/contactus.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <style>
    .button {
  background-color: #5E2C8B;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
  </style>
</head>
<body>

 <header>
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="{% url 'seekerhome' %}">
          <img src="{% static 'images/logo.png' %}" alt="Company Logo">
        </a>
      </div>
      <ul>
        <li><a href="{% url 'seekerhome' %}">Home</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Jobs
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Jobs by category</a>
              <a href="#">Jobs by skill</a>
              <a href="#">Jobs by roll</a>
              <a href="#">Jobs by education</a>
              <a href="#">Jobs by city</a>
              <a href="#">Gulf jobs</a>
              <a href="#">International jobs</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Internships
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'internships' %}">Internships by category</a>
              <br>
              <a href="{% url 'internships' %}">Internships by skills</a>
              <br>
              <a href="{% url 'internships' %}">Internships by roll</a>
              <br>
              <a href="{% url 'internships' %}">Internships by education</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Resume
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'internships' %}">Upload Resume</a>
              <br>
              <a href="{% url 'internships' %}">Build Resume</a>
            </div>
          </div>
        </li>
        <li><a href="{% url 'seekerservices' %}">Services</a></li>
        <li><a href="{% url 'seekercontact' %}">Contact</a></li>
      </ul>
      <div class="navbar-right">
        <ul>
          <li>
            <div class="dropdown">
              <button class="dropbtn">Profile
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="{% url 'seekerprofile' %}">View profile</a>
                <a href="{% url 'seekerprofile' %}">Edit profile</a>
                <a href="{% url 'seekerchangepwd' %}">Change Password</a>
              </div>
            </div>
          </li>
          <li><a href="{% url 'seekerlogout' %}">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>

<br><br><br>

<div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Vijayawada</div>
          <div class="text-two">KL University</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 8919226189</div>
          <div class="text-two">+91 9704153935</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">vanumgopisaisumanth@gmail.com</div>
          <div class="text-two">farhanmd758@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any query related to jobs or what to do after studies, or queries related internships please feel free to reach us</p>
        <h3 align="center"><mark>{{msg}}</mark></h3>
      <form method="post" action="{% url 'seekercontact' %}">
        {% csrf_token %}
        <div class="input-box">
          <input type="text" name="name" placeholder="Enter title of this email">
        </div>
        <div class="input-box">
          <input type="email" name="email" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <input type="text" name="message" placeholder="Enter your message">
        </div>

          <button class="btn btn-primary mt-2" type="submit" >Send</button>

      </form>
    </div>
    </div>
  </div>

</body>
</html>