<!DOCTYPE html>
{% load static %}
    <html>
    <head>
        <title>Job Seeker Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    </head>
    <body>
             <nav class="navbar">
      <div class="navbar-logo">
        <a href="{% url 'index' %}">
          <img src="{% static 'images/logo.png' %}" alt="Company Logo">
        </a>
      </div>
      <ul>
        <li>     </li>
        <li>     </li>
        <li>     </li>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'aboutus' %}">About</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Jobs
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'jobs' %}">Jobs by category</a>
              <a href="{% url 'jobs' %}">Jobs by skill</a>
              <a href="{% url 'jobs' %}">Jobs by roll</a>
              <a href="{% url 'jobs' %}">Jobs by education</a>
              <a href="{% url 'jobs' %}">Jobs by city</a>
              <a href="{% url 'jobs' %}">Gulf jobs</a>
              <a href="{% url 'jobs' %}">International jobs</a>
            </div>
          </div>
        </li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'contactus' %}">Contact</a></li>
      </ul>
      <div class="navbar-right">
        <ul>
          <li>
            <div class="dropdown">
              <button class="dropbtn">Login
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="{% url 'seekerlogin' %}">Job Seeker Login</a>
                <a href="{% url 'recruiterlogin' %}">Recruiter Login</a>
                <a href="{% url 'adminlogin' %}">Admin Login</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn">SignUp
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="{% url 'seekerregistration' %}">Job Seeker Registration</a>
                <br>
                <a href="{% url 'recruiterregistration' %}">Recruiter Registration</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Job Seeker Login</header>
                    <h3 align="center"><mark>{{msg}}</mark></h3>
                    <form method="post" action="{% url 'checkseekerlogin' %}">
                        {% csrf_token %}
                        <div class="field input-field">
                            <input type="text" name="username" placeholder="Enter Username" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" name="password" placeholder="Enter Password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <button>Login</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="{% url 'seekerregistration' %}">Signup</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div>

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="{% static 'images/google.png' %}" alt="Google icon" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>

            </div>
        </section>

        <!-- JavaScript -->
        <script>
             const forms = document.querySelector(".forms"),
      pwShowHide = document.querySelectorAll(".eye-icon"),
      links = document.querySelectorAll(".link");

pwShowHide.forEach(eyeIcon => {
    eyeIcon.addEventListener("click", () => {
        let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");

        pwFields.forEach(password => {
            if(password.type === "password"){
                password.type = "text";
                eyeIcon.classList.replace("bx-hide", "bx-show");
                return;
            }
            password.type = "password";
            eyeIcon.classList.replace("bx-show", "bx-hide");
        })

    })
})

links.forEach(link => {
    link.addEventListener("click", e => {
       e.preventDefault(); //preventing form submit
       forms.classList.toggle("show-signup");
    })
})

        </script>
    </body>
</html>
